.Com {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background-color: #15161A;
    color: aliceblue;
    width: 40rem;
    height: auto;
    align-items: center;
    margin-top: 2%;
    font-size: 32px;
    justify-content: center;
    border-radius: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

img {
    width: 10rem;
    height: 10rem;
    margin-right: auto;
    margin-left: auto;
}

.com1 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 4rem;

}

.btn {
    width: 20rem;
    border-radius: .5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFB028;
    font-size: 32px;
    margin-bottom: 3rem;
}