.Com {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background-color: #15161A;
    color: aliceblue;
    width: 50rem;
    height: auto;
    align-items: center;
    margin-top: 10rem;
    font-size: 32px;
    justify-content: center;
    border-radius: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
    width: 15rem;
    height: 15rem;
    margin-right: auto;
    margin-left: auto;
}

.com1 {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 4rem;

}

.btn {
    width: 20rem;
    border-radius: .5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFB028;
    font-size: 32px;
    margin-bottom: 3rem;
}